<header class="border-bottom border-light border-5 mb-5 p-2">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg">
        <a routerLink="/welcome"><img ngSrc="assets/logo.jpg" width="100" height="100" alt="logo"></a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item" *ngIf="authService.authenticator()">
              <a class="nav-link" routerLink="/welcome">Home</a>
            </li>
            <li class="nav-item" *ngIf="authService.authenticator()">
              <a class="nav-link" routerLink="/products">Stocks</a>
            </li>
            <li class="nav-item" *ngIf="authService.authenticator()">
              <a class="nav-link" routerLink="/specific">Search</a>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="!authService.authenticator()">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" *ngIf="authService.authenticator()">
            <button class="nav-link" (click)="logout()">Logout</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
