<section class="pb-4">
  <div class="bg-white border rounded-5">
    <section class="w-100 p-4 d-flex justify-content-center pb-4">
      <form>
        <div class="form-outline mb-4">
          <label class="form-label" >Enter Product ID</label>
          <input type="number"  name = "id" [(ngModel)]="id" autoComplete="off" class="form-control"/>
        </div>

        <button type="button" name="submit" (click)="handleSubmit()" class="btn btn-primary btn-block mb-4">Search</button>
      </form>
    </section>
  </div>
</section>
